<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            background-color: beige;
            border: 2px solid black;

            padding: 10px 10px 10px 10px;
            margin:  10px 10px 10px 10px;
        }
        .btn{
            cursor: pointer;
            padding: 12px;
            margin: 26px;
            border-radius: 12px;
        }
        .btn:hover{
            background-color: brown;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>
            Css
        </h1>
<p id="first">
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, ut!
</p>
    </div>
    <button class="btn">submit</button>
</body>
</html>